Repository International-Mentorship-ISMP/ismp, pull requests merged in 2020-08, with the labels that each got.

#425 Removed special webinar on getting into college
  frontend/src/pages/Home/Home.jsx
Labels: comp/home

#431 Mentors - Added Justin and Linda Yu
  frontend/src/mock-data/mentors.js
Labels: comp/mentors

#416 Conditional Webinar Blog List Header
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
Labels: Frontend, bug, comp/home

#434 Mentors - Linda Yu Job Title Fix
  frontend/src/mock-data/mentors.js
Labels: comp/mentors
