Repository International-Mentorship-ISMP/ismp, pull requests merged in 2020-06, with the labels that each got.

#68 Move API documentation to a docs file
  backend/docs/api-endpoints.md
Labels: documentation

#86 Update mailchimp registration according to requirements from the marketing team
  backend/api/application_form/models.py
  backend/api/application_form/tests.py
  backend/api/application_form/views.py
Labels: Backend

#89 Cleaned up contribution - removed fork model reference
  README.md
Labels: documentation

#88 Enable functionality of the meet our mentors page
  backend/api-entrypoint.sh
  backend/api/mentor/__init__.py
  backend/api/mentor/fixtures/mentor.json
  backend/api/mentor/migrations/0002_auto_20200609_1912.py
  backend/api/mentor/models.py
  backend/api/mentor/serializers.py
  backend/api/mentor/tests.py
  backend/api/mentor/urls.py
  backend/api/mentor/views.py
  backend/api/school/fixtures/school.json
  backend/api/school/migrations/0003_auto_20200609_2154.py
  backend/api/school/models.py
  backend/docs/api-endpoints.md
Labels: Backend

#93 Mentors.jsx unique key fix - fixes console errors
  frontend/src/components/MentorCards/MentorCards.jsx
Labels: bug

#104 Remove mailchimp mentee tag
  backend/api/application_form/models.py
  backend/api/application_form/views.py
Labels: Backend

#105 fix blogpost api so that type shows up.
  backend/api/blogpost/serializers.py
Labels: Backend

#103 Add thumbnail_url field to blogpost. Update fixtures.
  backend/api/blogpost/fixtures/blogpost.json
  backend/api/blogpost/migrations/0011_blogpost_thumbnail_url.py
  backend/api/blogpost/migrations/0013_merge_20200612_0543.py
  backend/api/blogpost/models.py
  backend/api/blogpost/serializers.py
Labels: Backend

#118 refactor topic so that it has a short title to use as a key on the frontend
  backend/api/blogpost/fixtures/topic.json
  backend/api/blogpost/migrations/0014_auto_20200612_2221.py
  backend/api/blogpost/models.py
  backend/api/blogpost/tests.py
  frontend/src/fallback_data/topic.json
Labels: Backend

#162 turn off autoplay for the home page video
  frontend/src/pages/Home/Home.jsx
Labels: Frontend

#160 fix filtering by topic for blogpost and blogpostcontent.
  backend/api/blogpost/views.py
  backend/api/blogpost_content/views.py
  backend/docs/api-endpoints.md
Labels: Backend

#177 Fix the warning about naive datetimes that was clogging up the log
  backend/api/blogpost_content/views.py
Labels: Backend

#185 Add prod settings
  .gitignore
  backend/api/dev_settings.py
  backend/api/prod_settings.py
  backend/api/settings.py
  docker-compose.yml
Labels: Backend

#173 Blog Article Page Layout
  docker-compose.yml
  frontend/package.json
  frontend/src/components/RenderBlog/RenderBlog.jsx
  frontend/src/images/arrow-left-purple.png
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
  frontend/src/pages/Blogs/Blogpost.jsx
  frontend/src/utils/agent.js
  frontend/yarn.lock
Labels: Frontend, comp/blogs

#201 Onboarding Conda environment and instructions
  README.md
  environment.yml
Labels: documentation

#210 Add cookie saver script to head. Also fix og:url to use our future domain
  frontend/public/index.html
Labels: Frontend

#216 Expedite bloglist loading
  backend/api/blogpost/serializers.py
  backend/api/blogpost_content/fixtures/blogpost_content.json
  backend/api/blogpost_content/migrations/0008_auto_20200616_2130.py
  backend/api/blogpost_content/models.py
  backend/api/blogpost_content/serializers.py
  backend/api/school/serializers.py
  backend/docs/api-endpoints.md
  backend/requirements.txt
Labels: Backend, comp/blogs

#224 fix the blog list page
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
Labels: comp/blogs

#232 Bug - Clean up of blog list
  frontend/src/components/BlogListCard/BlogListCard.jsx
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
  frontend/src/utils/agent.js
Labels: Frontend, comp/blogs

#238 Make our application form play well with lastpass
  frontend/src/pages/ApplicationForm/ApplicationForm.css
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
Labels: comp/application-form

#236 make hero image take full width
  frontend/src/components/HeroImage/HeroImage.jsx
  frontend/src/layout/Navigation/Navigation.jsx
  frontend/src/pages/PrivacyPolicy/PrivacyPolicy.jsx
Labels: comp/home

#227 fix(footer): Make the footer stick to the bottom even if there's no content
  frontend/src/layout/PageContainer/PageContainer.jsx
  frontend/src/layout/Responsive/DesktopContainer.jsx
Labels: Frontend, comp/header/footer

#245 move environment variable configuration to docker-compose.yml for easy configuration.
  backend/api/dev_settings.py
  backend/api/prod_settings.py
  backend/api/settings.py
  docker-compose.test.yml
  docker-compose.yml
Labels: Dev Ops

#247 format a third blogpost and upload all images from blogposts onto s3.
  backend/api/blogpost/fixtures/blogpost.json
  backend/api/blogpost_content/fixtures/blogpost_content.json
Labels: comp/blogs

#240 Ismp151 finalize mailchimp
  backend/api/application_form/models.py
Labels: Backend, comp/marketing

#261 fix search for blogpostcontent
  backend/api/blogpost_content/tests.py
  backend/api/blogpost_content/views.py
  backend/requirements.txt
Labels: Backend, bug

#258 Added placeholders for all mentors we'll need to display
  frontend/src/mock-data/mentors.js
Labels: comp/mentors

#220 Refactor Docker Builds and Tests
  .circleci/config.yml
  .gitignore
  Makefile
  backend/.dockerignore
  backend/Dockerfile
  backend/Dockerfile.test
  backend/requirements.txt
  backend/run_migrations.sh
  backend/run_tests.sh
  docker-compose.test.yml
  docker-compose.yml
  frontend/-
  frontend/.dockerignore
  frontend/Dockerfile
Labels: Dev Ops, Testing

#219 Navbar ui changes
  frontend/src/components/LanguageList/LanguageList.jsx
  frontend/src/images/Facebook.png
  frontend/src/images/ISMP.png
  frontend/src/images/Instagram.png
  frontend/src/images/Wechat.png
  frontend/src/layout/Navigation/Navigation.jsx
  frontend/src/layout/Responsive/DesktopContainer.jsx
  frontend/src/layout/Responsive/MobileContainer.jsx
  frontend/src/styles/theme.js
Labels: Feature, Frontend, comp/header/footer

#263 Fix docker-compose configuration
  backend/api/settings.py
  docker-compose.test.yml
  docker-compose.yml
Labels: Dev Ops, Testing

#241 Add code of conduct check box
  frontend/public/locales/en/code-of-conduct.json
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/ApplicationForm/CodeOfConductModal.jsx
  frontend/src/pages/ApplicationForm/PolicyContent.styles.jsx
  frontend/src/pages/ApplicationForm/PrivacyPolicyModal.jsx
  frontend/src/pages/ApplicationForm/TermsModal.jsx
  frontend/src/pages/ApplicationForm/TranslationParser.jsx
  frontend/src/pages/CodeOfConduct/CodeOfConduct.jsx
  frontend/src/pages/PrivacyPolicy/PrivacyPolicy.jsx
  frontend/src/pages/TermsOfUse/TermsOfUse.jsx
Labels: Frontend, comp/application-form, comp/code-of-conduct, comp/privacy-policy, comp/terms-of-use

#268 Add nginx as load balancer to docker-compose.yml
  .github/workflows/main.yml
  README.md
  backend/run_migrations.sh
  docker-compose.yml
  load_balancer/nginx.conf
Labels: Backend, Dev Ops, Frontend, Testing

#274 fix ucsd typo
  frontend/src/mock-data/mentors.js
Labels: Frontend, comp/about

#272 Publish Docker images + Refactor GH Action
  .github/workflows/main.yml
  .github/workflows/test_backend.sh
  .gitignore
  Makefile
  backend/run_tests.sh
  docker-compose.test.yml
  docker-compose.yml
Labels: Dev Ops, Testing

#266 Add front-end s3 bucket env var into docker settings
  docker-compose.yml
Labels: Dev Ops

#281 Ismp280 proxypass admin
  backend/api/authentication/fixtures/superuser.json
  load_balancer/nginx.conf
Labels: Dev Ops, comp/nginx

#270 Application form i18n
  frontend/public/locales/en/application-form.json
  frontend/public/locales/zh/application-form.json
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/ApplicationForm/ApplicationOptions.jsx
  frontend/src/pages/CodeOfConduct/CodeOfConduct.jsx
Labels: comp/application-form

#260 feat(home): update featured blog cards to pull real content
  frontend/src/components/BlogCard/BlogCard.jsx
  frontend/src/components/BlogCard/index.js
  frontend/src/fallback_data/blogpostcontent.json
  frontend/src/pages/Home/Home.jsx
Labels: Feature, comp/home

#288 Change title to be 'blogs'
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
Labels: comp/blogs

#287 change the no results message for blog search
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
Labels: comp/blogs

#290 Application form handle backend errors
  backend/api/application_form/migrations/0013_auto_20200623_1523.py
  backend/api/application_form/models.py
  frontend/public/locales/en/application-form.json
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
Labels: comp/application-form

#292 add US_SCHOOL to mailchimp information
  backend/api/application_form/models.py
Labels: Backend, comp/marketing

#289 Make Nav line up with rest of page
  frontend/src/layout/Navigation/Navigation.jsx
  frontend/src/layout/Responsive/DesktopContainer.jsx
Labels: comp/header/footer

#286 Integrate google tag manager
  frontend/package.json
  frontend/src/components/Subscribe/Subscribe.jsx
  frontend/src/index.js
  frontend/src/layout/Responsive/ResponsiveContainer.jsx
  frontend/yarn.lock
Labels: comp/marketing

#302 add gtm for apply now clicks
  frontend/src/layout/Footer/Footer.jsx
  frontend/src/layout/Navigation/Navigation.jsx
  frontend/src/pages/About/About.jsx
  frontend/src/utils/google_tag_manager_helpers.js
Labels: comp/marketing

#303 Add google tag manager datalayer pushes to the application form.
  frontend/src/components/Subscribe/Subscribe.jsx
  frontend/src/index.js
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/utils/google_tag_manager_helpers.js
Labels: comp/application-form, comp/marketing

#309 Fill out mentors
  frontend/src/mock-data/mentors.js
Labels: comp/mentors

#315 clean up some frontend code
  frontend/src/components/Subscribe/Subscribe.jsx
  frontend/src/layout/Footer/Footer.jsx
  frontend/src/layout/Responsive/DesktopContainer.jsx
  frontend/src/mock-data/mentors.js
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
Labels: Frontend

#323 Make apply success better
  frontend/public/locales/en/application-form.json
  frontend/public/locales/zh/application-form.json
  frontend/src/pages/ApplicationFormSuccess/ApplicationFormSuccess.jsx
Labels: comp/application-form, i18n

#319 Google Tag Manager pushes related to blogposts
  frontend/src/components/BlogCard/BlogCard.jsx
  frontend/src/components/BlogListCard/BlogListCard.jsx
  frontend/src/components/Subscribe/Subscribe.jsx
  frontend/src/components/TestimonialCards/TestimonialCards.jsx
  frontend/src/layout/Footer/Footer.jsx
  frontend/src/mock-data/mentors.js
  frontend/src/pages/ApplicationFormSuccess/ApplicationFormSuccess.jsx
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
  frontend/src/pages/Blogs/Blogpost.jsx
  frontend/src/pages/Home/Home.jsx
  frontend/src/utils/google_tag_manager_helpers.js
Labels: comp/blogs, comp/home, comp/marketing
