Repository International-Mentorship-ISMP/ismp, pull requests merged in 2020-07, with the labels that each got.

#312 Create prod frontend
  .github/workflows/main.yml
  .gitignore
  Makefile
  docker-compose.production.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile.production
  frontend/nginx.conf
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
  frontend/src/services/auth.service.js
  frontend/src/utils/agent.js
  load_balancer/nginx.conf
  run_integration_test.sh
Labels: Dev Ops, Frontend, Testing

#334 Add GET /ping endpoint to frontend image
  frontend/nginx.conf
  run_integration_test.sh
Labels: Frontend

#337 pulled ismp logo from s3
  frontend/src/layout/Footer/Footer.jsx
Labels: bug

#324 Application form add chinese translations
  frontend/public/locales/en/application-form.json
  frontend/public/locales/zh/application-form.json
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/ApplicationForm/CodeOfConductModal.jsx
  frontend/src/pages/ApplicationForm/PrivacyPolicyModal.jsx
  frontend/src/pages/ApplicationForm/TermsModal.jsx
Labels: comp/application-form, i18n

#340 add gtm id
  frontend/src/index.js
Labels: comp/marketing

#339 404 Page
  frontend/src/layout/BodyContainer/BodyContainer.jsx
  frontend/src/pages/Error/404.jsx
  frontend/src/routes/Routes.jsx
Labels: Frontend

#338 Restore social media
  frontend/src/components/SocialIconsList/SocialIconsList.jsx
  frontend/src/images/Facebook.png
  frontend/src/images/ISMP.png
  frontend/src/images/ISMP_logo.png
  frontend/src/images/Instagram.png
  frontend/src/images/Wechat.png
  frontend/src/index.js
  frontend/src/layout/Navigation/Navigation.jsx
  frontend/src/layout/Responsive/DesktopContainer.jsx
  frontend/src/layout/Responsive/MobileContainer.jsx
  frontend/src/layout/Responsive/ResponsiveContainer.jsx
  frontend/src/pages/About/About.jsx
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/ApplicationForm/ApplicationOptions.jsx
Labels: comp/header/footer

#346 Make campus selector easier to find on mentors page (#248)
  frontend/src/pages/Mentors/Mentors.jsx
Labels: comp/mentors

#347 Application form responsive
  frontend/src/layout/Responsive/responsiveUtils.js
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/ApplicationForm/ApplicationForm.styles.jsx
Labels: comp/application-form

#352 Add additional mentor to the mentors page after getting his profile pic.
  frontend/src/mock-data/mentors.js
Labels: comp/mentors

#349 Add actual picture of Taiga
  frontend/src/components/TestimonialCards/TestimonialCards.jsx
Labels: comp/home

#348 Replace hero image
  frontend/src/components/HeroImage/HeroImage.jsx
Labels: comp/home

#354 Add headshots for Henry Chen and Larry Tan.
  frontend/src/mock-data/mentors.js
Labels: comp/mentors

#357 Replace 3rd party GH actions with local actions
  .github/workflows/main.yml
Labels: Testing

#360 Get rid of eslint warnings in the frontend code
  frontend/package.json
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/ApplicationForm/CodeOfConductModal.jsx
  frontend/src/pages/ApplicationForm/PrivacyPolicyModal.jsx
  frontend/src/pages/ApplicationForm/TermsModal.jsx
  frontend/src/pages/ApplicationForm/TranslationParser.jsx
  frontend/src/pages/BlogSearchResults/BlogListPage.jsx
  frontend/yarn.lock
Labels: Frontend

#361 Add steps to GH action to auto-deploy backend/frontend
  .github/workflows/main.yml
Labels: Backend, Dev Ops, Frontend

#362 Add AWS_DEFAULT_REGION to GH action deploy job
  .github/workflows/main.yml
Labels: Dev Ops

#355 Clean up static blog content (remove test data that we didn't write, remove data files we are no longer using).
  backend/api/blogpost/fixtures/blogpost.json
  backend/api/blogpost/fixtures/topic.json
  backend/api/blogpost_content/fixtures/blogpost_content.json
  frontend/src/mock-data/blog.js
  frontend/src/pages/BlogSearchResults/data.js
  frontend/src/pages/BlogSearchResults/data_from_django.js
Labels: comp/blogs

#367 Fix incorrect interpolation of GH secret for TFE_WS_ID
  .github/workflows/main.yml
Labels: Dev Ops

#368 Change variable name in deploy step
  .github/workflows/main.yml
Labels: Dev Ops

#364 Update YouTube video on the homepage.
  frontend/src/pages/Home/Home.jsx
Labels: comp/home

#358 Update `eslint` pre-commit hook to not allow any warnings.
  frontend/package.json
Labels: Frontend

#369 Footer zh and bugs
  frontend/public/locales/en/footer.json
  frontend/public/locales/zh/footer.json
  frontend/public/locales/zh/general.json
  frontend/src/layout/Footer/Footer.jsx
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
  frontend/src/pages/ApplicationForm/TranslationParser.jsx
Labels: comp/header/footer, i18n

#366 Re-fix Eslint warnings (last time my fixes got clobbered by prettier in the pre-commit hook).
  frontend/src/pages/ApplicationForm/CodeOfConductModal.jsx
  frontend/src/pages/ApplicationForm/PrivacyPolicyModal.jsx
  frontend/src/pages/ApplicationForm/TermsModal.jsx
Labels: Frontend

#373 Make queries to /api/v1/blogpostcontent/ only return published blogpo…
  backend/api/blogpost_content/tests.py
  backend/api/blogpost_content/views.py
Labels: Backend, bug, comp/blogs

#351 Recommended Articles Section (bottom of blog article page)
  frontend/src/components/BlogCard/BlogCard.jsx
  frontend/src/components/RecommendedArticles/RecommendedArticles.jsx
  frontend/src/components/RecommendedArticles/index.js
  frontend/src/layout/Navigation/Navigation.jsx
  frontend/src/pages/Blogs/Blogpost.jsx
Labels: Feature, Frontend, comp/blogs

#378 make hero image take height of screen
  frontend/src/components/HeroImage/HeroImage.jsx
Labels: comp/home

#380 Adding WeChat QR code to footer
  frontend/src/components/SocialIconsList/SocialIconsList.jsx
  frontend/src/layout/Footer/Footer.jsx
  frontend/src/layout/Navigation/Navigation.jsx
Labels: Frontend, comp/header/footer

#384 add 10.0.0.0/8 cidr block to allowed_hosts for the health checks.
  backend/api/settings.py
  backend/api/utility/views.py
  backend/requirements.txt
  docker-compose.yml
Labels: Backend, Dev Ops

#406 link to blog list page from application form
  frontend/src/pages/ApplicationFormSuccess/ApplicationFormSuccess.jsx
Labels: Frontend, comp/application-form

#407 remove reference to $25 in code of conduct page
  frontend/public/locales/en/code-of-conduct.json
  frontend/src/pages/CodeOfConduct/CodeOfConduct.jsx
Labels: comp/code-of-conduct

#405 updated social media links
  frontend/src/components/SocialIconsList/SocialIconsList.jsx
Labels: Frontend, bug, comp/header/footer

#412 App form fixes
  frontend/public/locales/en/application-form.json
  frontend/public/locales/zh/application-form.json
  frontend/src/pages/ApplicationForm/ApplicationForm.jsx
Labels: bug

#414 blogpost fixture changes to update style.
  backend/api/blogpost_content/fixtures/blogpost_content.json
Labels: comp/blogs

#419 Hide Recommended Articles component when there are no recommended articles
  frontend/src/components/RecommendedArticles/RecommendedArticles.jsx
Labels: Frontend, bug, comp/blogs

#387 Allow indexing of our site again via robots.txt
  frontend/public/robots.txt
Labels: Frontend

#420 Updated intro video to be one with burned in subtitles
  frontend/src/pages/Home/Home.jsx
Labels: comp/home

#421 Translation Change
  frontend/public/locales/zh/footer.json
Labels: comp/home, i18n

#423 Home Page - This weekend Webinar
  frontend/public/locales/en/home.json
  frontend/public/locales/zh/home.json
  frontend/src/components/HeroImage/HeroImage.jsx
  frontend/src/pages/Home/Home.jsx
Labels: comp/home
